.App-header {

    padding: 35px 0;
    border-bottom: 1px solid black;

    .container {
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        font-weight: bold;
    }
    &--dark {
        display: flex;
        align-items: center;

        &__label {
            margin-left: 10px;
            font-size: 12px;
        }
    }
}