// ${variable-name}: {value};
$color-dark-blue: hsl(209, 23%, 22%); // Dark mode
$color-bg-very-dark-blue: hsl(207, 26%, 17%); // Dark mode
$color-very-dark-blue: hsl(200, 15%, 8%);
$color-dark-grey: hsl(0, 0%, 52%);
$color-very-light-grey: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$font-family: "Nunito Sans";